---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
import TopBar from './TopBar.astro';
---

<header>
  <center>***EARLY CONTENT DRAFT***</center>
  <TopBar />
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog (TBD)</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Child Care Resources</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/traditional-and-non-traditional-child-care/">Traditional and Non-Traditional Child Care</a>
        </li>
        <li class="submenu-item">
          <a href="/military-owned-or-approved-child-care/">Military Owned or Approved Child Care</a>
        </li>
        <li class="submenu-item">
          <a href="/fee-assistance-or-subsidy-for-child-care/">Fee Assistance or Subsidy for Child Care</a>
        </li>
        <li class="submenu-item">
          <a href="/local-airman-and-family-readiness-team/">Local Airman and Family Readiness Team</a>
        </li>
        <li class="submenu-item">
          <a href="/ussf-guardian-child-care-support/">USSF Guardian Child Care Support</a>
        </li>
        <li class="submenu-item">
          <a href="/child-care-in-your-neighborhood/">Child Care In Your Neighborhood (MCCYN)</a>
        </li>
        <li class="submenu-item">
          <a href="/child-care-in-your-home/">Child Care In Your Home (CCYH)</a>
        </li>
        <li class="submenu-item">
          <a href="/parent-consultants/">Parent Consultants</a>
        </li>
        <li class="submenu-item">
          <a href="/online-caregiver-search-service/">Online Caregiver Search Service</a>
        </li>
        <li class="submenu-item">
          <a href="/subletting-child-care-service/">Subletting Child Care Service</a>
        </li>
        <li class="submenu-item">
          <a href="/fee-assistance-support/">Fee Assistance Support</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/what-child-care-do-i-need/">What Child Care Do I Need? (TBD)</a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/miscpeeps/guardian-child-care" title="Go to the project GitHub page">
        <Icon pack="ion" name="logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
