---
import { Icon } from 'astro-icon'
import { Notification } from 'accessible-astro-components'
---

<table width=100% bgcolor="black" style="text-align: center">
    <tr>
        <td style="text-align: center">
            <Notification type="info">
                <Icon pack="ion" name="information-circle-outline" />
                <p>                  
                  <strong>Info:</strong> Not an official website of the United States Space Force or the Department of Defense <i><a href="#blank">TODO: explain why via modal</a></i>
                </p>
            </Notification>
        </td>
    </tr>
</table>